/*//////// GENERAL ////////*/

body {
    margin-top: 84px !important; 
}

.affix,.affix-top {
    position:fixed;
}

.container {
     width: 100%;
     padding: 0px;
            }

.no_padding {
    padding: 0px;
            }

/*
 * Header + Nav
 */



header {
    z-index: 5000;
}

footer {
    z-index: 5000;
}

.navbar-top .sub-brand {
  float: left;
  line-height: 1.7em;
  padding-left: 10px;
  border-left: solid 1px #333;
}

.bac-header {
  width: 90px;
  background-image: url(../images/ba_logo.png);
  background-image: url(../images/ba_logo.png), none;
  padding-right: 15px;
}



.navbar-brand {
  padding: 0px !important;
}

.navbar-primary.navbar-top .navbar-brand {
  margin-top: 18px;
  margin-right: 10px;

}

.navbar-primary {
    border-bottom: 0px;
    border-top: 6px #fdd306 solid;
    box-shadow: 1px 1px 5px #e0e0e0;
}

.container-sub-brand 
.sub-brand {
    padding-left: 0px;
    margin-left: 10px;
    
}

.sub-brand {
    color: #333;
    
}

.navbar {
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 5000;
            }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 40px;
            }

.navbar-top h5.sub-brand {
    margin-right: 30px;
}

.navbar.navbar-primary.navbar-top > .container > .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron jumbotron-misc {
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
            }

.main-container {
    padding: 0px;
            }

@media (min-width: 992px) {
    .col-md-3 {
    margin-top: 50px;
    }}

/*
 * Generales
 */

/* Return to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    background: #fff;
    width: 50px;
    height: 50px;
    z-index: 100;
    /*display: block;*/
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    /*display: none;*/
    display: inline-block; /* Quitar lineas 118 y 123 */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: -1px 0px 5px 2px rgba(150,150,150,1);
    -moz-box-shadow: -1px 0px 5px 2px rgba(150,150,150,1);
    box-shadow: 0px 0px 4px 1px rgb(216, 214, 214);
}
#return-to-top .glyphicon {
    color: #6a6a6a;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(244, 244, 244, 0.9);
}



/* affix */
.container-shortcut {
    margin-top: 40px;
    margin-bottom: 40px;
            }

.img-circle {
    width: 100px;
    height: 100px;
    background-color: #cbcbcb;
            }

/* dividers */
.divider {
	margin: 1em 0;
	border-bottom: 1px solid #ddd;
}

.divider_bold {
	margin: 3em 0;
	border-bottom: 2px solid #676767;
}

 /* Tipografía */
.portfolio a {
    text-decoration: none;
            }

.intro2 a {
    text-decoration: none;
                color: #333;
            }

a {
    text-decoration: none !important;
            }

.p_tooltip {
    color: #333 ;
    text-decoration: none !important;
}

.p_tooltip:hover {
    color: #333 ;
    text-decoration: none !important;
}

.warning {
  color: #f3a32d;
  font-weight: bold;
}


/*  
.link_style {
    text-decoration: none;
}

     
.panel-body a {
     text-decoration: none;
     color: #333;
}
        
a {
    text-decoration: none !important;
}

a .link_style {
    color: #0695d6 !important;
    text-decoration: underline !important;
}
*/



.footer {
    padding-left: 30px;
    padding-right: 30px;
    z-index: 200;
    position: relative;
}

.pre-footer {
    background-color:  #f6f6f6;
    z-index: 2000;
    position: relative;
}

.pre-footer > h3{
    margin: 0;
    padding: 10px 0
        
}

.sub-content .col-md-4 {
    padding-left: 0px;
}

            
/*
 * Introducción
 */

.intro_grisclaro {
                background-color: #fdfdfd !important;
                padding-top: 60px;
                padding-bottom: 60px;
            }

.intro_gris {
                padding-top: 60px;
                padding-bottom: 60px;
            }


/*.vacio {
                height: 300px;
                background-color: #9678fc;
                width: 300px;
            }
*/
.caption  h3  {
                margin-top: 5px;
            }

.portfolio {
                background-color: #f8f8f8;
            }

.portfolio .thumbnail {
                box-shadow: none;
                border: 0px;
    background-color:  #fdfdfd;
            }


.portfolio .thumbnail img{
    border: 1px #cccccc solid;
            }

.imagen_bienvenida {
    width: 900px;
    margin: 0 auto;
    min-width: 200px;
            }

.bg-contenedor {
    background-color: #f8f8f8;
            }
            
.container_secundario {
    padding-left: 10%;
    padding-right: 10%;
            }
/* Responsive Container secundario 

@media (max-width: 768px) {
    .container_secundario {
    padding-left: 50px;
    padding-right: 50px;
            }
}

@media (max-width: 992px) {
    .container_secundario {
    padding-left: 50px;
    padding-right: 50px;
            }
}*/



/* Responsive Logo BA */
    @media screen and (max-width: 320px)  {
    #ba-logo {
       display: none;
    }

    }

/*//////// LANDING PRESENTACIÓN  ////////*/ 
.atajos {
    height: 200px;  
}

.img-checklist {
    min-width: 200px;
    margin: 0 auto;
}



/*//////// BASTRAP  ////////*/ 

/*
 * Tipografía
 */

.amarillo {
    background-color: #fdd306;
}

.celeste {
    background-color: #19c3e3;
}

.gris_footer {
    background-color: #343434;
    color: #ffffff;
}

p, h4 {
    line-height: 1.6em;
}

.mark {
    padding: 0.1em;
}

.glyphicon-arrow-right {
    margin-right: 5px;
    font-size: 0.8em;
}

.subtitle {
    padding-bottom: 30px;
    padding-top: 30px;
 
}

#bastrap a {
    text-decoration: none;
    color: #333;
}

/*
 * Header
 */
.navbar-top h5.sub-brand {
    margin-top: 0px;
}

/*
 * Nav
 */

.sidebar .nav > li > a {
    display: block;
    color: #888;
    padding-left: 10px;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #ffffff;
    font-weight: bolder;
    border-left:0px; 
    color: #333;
}

.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-weight: bolder;
    color: #333;
    border-left:0px; 
    /* border-left:2px solid #19c3e3; */
}

.sidebar-first {
  margin-top: 0px;
}

#affix-nav  {
    height: 100%;
    margin-top: 20px;
}


/*
 * Panel
 */

.panel-especial {
     margin-top: 0px;
     margin-bottom: 0px;
            }

.container-docs > .panel-body {
     margin-bottom: 0px;
            }
            

.panel-body {
     /*padding-top: 100px; 
     padding-bottom: 100px;
     padding-left: 0px;
     padding-right: 0px;*/
            }
            
.panel-body-nopadding {
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 0px;
     padding-right: 0px;
    
}

.panel-body-nopadding h3  {
     margin-top: 10px;
    
}

.container-docs > .panel-body {
    margin-top:0px;
    margin-bottom:0px;
  }

.panel-content {
     padding: 0px 15px 15px 15px;
            }

.sub-content {
    margin-bottom: 80px;
}

.sub-heading {
    margin-bottom: 40px;
}

 .panel-docs > .panel-body {
    margin-bottom:0px;
  }

.panel {
    margin-bottom:0px;
  }
.form-example input,
.form-example select,
.btngroup-example .btn-group {
  margin-bottom:10px;
}

.jumbotron p.lead a {
  color:#fff;
}

/* SECTION HEADERS */

/*.headerCSS {
    background-color: #fdd306;
    height: 50px;
    
}*/


/* SECTION CSS */

.sub-heading .panel-body {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 0px;
}

/*
 * Editores de html
 */

.panel-footer {
    background-color: #e0dfdf;
    border-top: 2px #ffffff solid;
}

pre {
    background-color: #e0dfdf;
    margin-bottom: 0px;
    
}

.panel-ejemplo{
    padding: 20px;
}

/* Pigments code */

pre.prettyprint {
  background: none;
  border: none;
}

.hll { background-color: #ffffcc }
 /*{ background: #f0f3f3; }*/
.c { color: #999; } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: #006699; } /* Keyword */
.o { color: #555555 } /* Operator */
.cm { color: #999; } /* Comment.Multiline */ /* Edited to remove italics and make into comment */
.cp { color: #009999 } /* Comment.Preproc */
.c1 { color: #999; } /* Comment.Single */
.cs { color: #999; } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #AAAAAA } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #99CC66 } /* Generic.Traceback */
.kc { color: #006699; } /* Keyword.Constant */
.kd { color: #006699; } /* Keyword.Declaration */
.kn { color: #006699; } /* Keyword.Namespace */
.kp { color: #006699 } /* Keyword.Pseudo */
.kr { color: #006699; } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: #FF6600 } /* Literal.Number */
.s { color: #d44950 } /* Literal.String */
.na { color: #4f9fcf } /* Name.Attribute */
.nb { color: #336666 } /* Name.Builtin */
.nc { color: #00AA88; } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #9999FF } /* Name.Decorator */
.ni { color: #999999; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: #CC00FF } /* Name.Function */
.nl { color: #9999FF } /* Name.Label */
.nn { color: #00CCFF; } /* Name.Namespace */
.nt { color: #2f6f9f; } /* Name.Tag */
.nv { color: #003333 } /* Name.Variable */
.ow { color: #000000; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #FF6600 } /* Literal.Number.Float */
.mh { color: #FF6600 } /* Literal.Number.Hex */
.mi { color: #FF6600 } /* Literal.Number.Integer */
.mo { color: #FF6600 } /* Literal.Number.Oct */
.sb { color: #CC3300 } /* Literal.String.Backtick */
.sc { color: #CC3300 } /* Literal.String.Char */
.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.s2 { color: #CC3300 } /* Literal.String.Double */
.se { color: #CC3300; } /* Literal.String.Escape */
.sh { color: #CC3300 } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: #CC3300 } /* Literal.String.Other */
.sr { color: #33AAAA } /* Literal.String.Regex */
.s1 { color: #CC3300 } /* Literal.String.Single */
.ss { color: #FFCC33 } /* Literal.String.Symbol */
.bp { color: #336666 } /* Name.Builtin.Pseudo */
.vc { color: #003333 } /* Name.Variable.Class */
.vg { color: #003333 } /* Name.Variable.Global */
.vi { color: #003333 } /* Name.Variable.Instance */
.il { color: #FF6600 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }

.container-docs .col-md-1,
.container-docs .col-md-2,
.container-docs .col-md-3,
.container-docs .col-md-4,
.container-docs .col-md-5,
.container-docs .col-md-6,
.container-docs .col-md-7,
.container-docs .col-md-8,
.container-docs .col-md-9,
.container-docs .col-md-10,
.container-docs .col-md-11,
.container-docs .col-md-12,
.container-docs .col-xs-6,
.container-docs .col-sm-3,
.container-docs .col-sm-6,
.container-docs .col-sm-9 {
  background:#e5e5e5;
  border:solid 1px #fff;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  border-radius:4px;
  color:#999;
}

/*
 * Tipografía
 */

.lead {
    margin-bottom: 40px;
}

.copy {
 	font-size: 1.5em;
}

header p {
	color: #676767;
	margin-top: 20px;
}

h4 {
	font-size: 1.1em;
	color: #676767;
}

h5 {
	margin-top: 4em;
	margin-bottom: .7em;
}


.tipo-p {
	font-size: 1.2em;
	color: #676767;
}

.typo-style {
	color: #777;
	
}


.subtitle {
    padding-bottom: 30px;
    padding-top: 30px;
 
}

#bastrap a {
    text-decoration: none;
    color: #333;
}

/*
 * Paleta cromática
 * Incluye: colores claros, oscuros y grises
 */

.color {
	height: 70px;
	padding: 0 5px 5px 0px;
	border-radius: 5px;
    margin: 10px 10px 0px 0px;
}

.bs {
	box-shadow: 0 3px 8px rgba(0,0,0,.1);
}

.bold {
	font-weight: 600;
}

.color p {
	margin-top: 12px;
	color: #fff;
    margin-left: 10px;
}


/* Colores claros */

.unoClaro {
	background: #e76056;
}

.dosClaro {
	background: #f3a32d;
}

.tresClaro {
	background: #fcda59;
}

.cuatroClaro {
	background: #2ebc98;
}

.cincoClaro {
	background: #99c25f;
}

.seisClaro {
	background: #2ebc98;
}

.sieteClaro {
	background: #19c3e3;
}

.ochoClaro {
	background: #0389d1;
}

.nueveClaro {
	background: #3e4f5e;
}

.diezClaro {
	background: #9d6db6;
}

.onceClaro {
	background: #f562a2;
}

/* Colores oscuros */

.unoOscuro {
	background: #e74c3c;
}

.dosOscuro {
	background: #f39c12;
}

.tresOscuro {
	background: #fdd306;
}

.cuatroOscuro {
	background: #18b596;
}

.cincoOscuro {
	background: #88bf48;
}

.seisOscuro {
	background: #18b596;
}

.sieteOscuro {
	background: #00b3e3;
}

.ochoOscuro {
	background: #037dbf;
}

.nueveOscuro {
	background: #34485e;
}

.diezOscuro {
	background: #9b59b6;
}

.onceOscuro {
	background: #f54789;
}



/* Grises */

.unoGris {
    background: #1d1c1a;
}

.dosGris {
    background: #333;
}

.tresGris {
    background: #717170;
}

.cuatroGris {
    background: #a6a4a4;
}

.cincoGris {
    background: #c5c3c2;
}

.seisGris {
    background: #e5e5e5;
}

.sieteGris {
    background: #f3f0ed;
}

.ochoGris {
    background: #f5f5f5;
}

/* iOS */

.rojoios {
    background: #ff3b30;
}

.azulios {
    background: #007aff;
}

/* Android */

.rojoandroid {
    background: #F44336;
}

.verdeandroid {
    background: #009688;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
  margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #f3a32d;
  background-color: #fffcfc;

}
.bs-callout-warning h4 {
  color: #f3a32d;
}

.bs-callout-info {
  border-left-color: #19c3e3;
  background-color: rgb(251, 254, 255);
}
.bs-callout-info h4 {
  color: #19c3e3;
}


.titulo {font-size: 4em;}

/*BOTON COPY */
.btn-clipboard {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  margin-right: 1em;
  font-size: .85em;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: .25rem;
}
.btn-clipboard:hover {
    color: #333;
    background-color: #fff;
}


@media (max-width: 1366px) {
    .lead{font-size: 1.25em}

}

@media (max-width: 560px) {
    .ocultar{display:none;}

}

.modal{
    top:6em;
}